body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #aa00ff, white);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #aa00ff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #8c00ff;
}