* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 79px;
    background-color: purple;
    position: relative;
    z-index: 11;
}

.main_bar {
    box-sizing: border-box;
    padding: 0 10px 0 20px;
    width: 100%;
    height: 100%;
    max-width: 1306px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bar_pesq {
    width: 100%;
    height: 41px;
    max-width: 633px;
}

input {
    width: 100%;
    height: 41px;
    border-radius: 10px;
}

.label_icons {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.icon {
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
}

.produto-container2 {
    display: flex;
    align-items: flex-start; 
    gap: 10px;
}

.produto-container2 img {
    max-width: 40%; 
    height: auto;
    margin-right: 10px; 
}

.produto-container2 h1 {
    font-size: 60px; 
    color: #333; 
    margin: 0; 
}

.produto-container2 p {
    font-size: 20px; 
}
